
/*CSS HOME (MARCIA)*/ 

* {
    box-sizing: border-box;
}

body{
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100vh;
}



.navbar {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border: 0;
    font-size: 16px !important;
    color: white;
}

.nav>li>a {
    color: rgba(255, 255, 255, 0.6);
}

.nav>li>a:focus, .nav>li>a:hover {
    color: white;
    background: transparent;
}

.navbar-header img{
    width: 12vw;
    margin: 10px 8px;
}

.carousel-inner>.item>img {
    height: 100vh;
}
/*CSS MODALIDADES (DANIEL)*/ 

.menu-suspenso{
    margin-top: 120px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.scrollDropdown{
    height: 250px;
    overflow: auto;
}
/* .procura {
    display: inline-block;
    margin-left: 60px;
} */
.procura input[type=text] {
  width: 60vw;
  height: 34px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../img/searchicon.png');
  background-size: 20px;
  background-position: 5px 5px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
.procura input[type=text]:focus {
    width: 90vw;
  } 

.sectionModalidades{
      height: 100%;
      margin-top: 140px;
  }
.tituloModalidade h2{
    margin: 0px;
    text-align: center;
    font-size: 4.5em;
    background: -webkit-linear-gradient(left, #1b9bdb, #84b331);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logoMatchSports {
    width: 3vw;
    opacity: 1;
    margin: 8px;
}

.conteudo p {
    font-size: 3em;
    margin-bottom: 325px;
    color: #fff;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
  }
   
.logotipos {
    display: flex;
    flex-wrap: wrap;
    /* background-image: url('../img/logoBgMatchSports.png'); /*endereço URL da imagem*/
    /* background-position:center; centraliza apenas o background - para não cortar    */
    /* background-size: 520px 520px; */
    /* background-repeat:no-repeat; para não repetir o background */
    /* opacity: 1;*/
}

.logo{
    width: 100px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

.logo a{
    text-decoration: none;
}
.logo img {
    width: 100px;
    height: 100px;
    transition: 0.5s;
}
/* .logo a:hover {
    color: transparent;
} */

.logo img:hover {
    transform: scale(1.1, 1.1);
}

.caption h3{
    font-size: 1.2em;
    margin: 0px;
    text-decoration: none;
    color: #4f4f4f;
}
/* CSS da Gi*/
h1 {
    margin: 20px;
}
/*
body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100vh;
}*/

#faleConosco {
    background-image: url("../img/foto_contato.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

.formulario{
    border: 1px solid lightgrey;
    background-color:   rgba(255,255,255,0.7);
    padding: 10px;
    margin: 90px auto;
    width: 90vw;
    height: 70vh;
}

.imagem-sm1 {
    max-width:17.4em;
    width: auto;
    height: auto; 
    display: inline-block;
}
.imagem-sm1 img{
    width: 100%;
}
.imagem-sm2 {
    max-width: 19em;
    width: auto;
    height: auto; 
    display: inline-block;

}
.imagem-sm2 img{
    margin-bottom: 17px;
    width: 100%;
}

.wrapper {
    padding-top: 90px;
    margin: 0 auto;
}

.integrantes{
    padding: 8em 0 20em 2em;
}
.integrantes img{
    width: 10em;
    height: 10em;
    filter: grayscale(100%)
}

.icones img{
    width: 3em;
    margin: 15em 1em 0 0;
}

.texto-sm {
    margin: 0 0 0 2em;
}

/*CSS FOOTER (MARCIA)*/ 

footer {
    /* position: absolute;
    bottom: 0px; */
    width: 100%;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #f5f5f5;
    letter-spacing: 3px;
    height: 10vh;
}

footer a {
    display: block;
    margin-bottom: 5px;
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
} 

.text-center {
    padding: 5px 0 5px 0;
}


/*CSS LOGIN (EDU)*/ 

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(0, 0, 0, 0.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(0, 0, 0, 0.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#eb0854;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

@media(max-width:1200px){
    .carousel-inner>.item>img {
        height: auto;
    }
@media(max-width:767px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
    .carousel-inner .carousel-caption button{
        display: none;
    }

    .carousel-inner .carousel-caption p{
        display: none;
    }
    .carousel-inner>.item>img {
        height: auto;
    }
}

